In [ ]:
# Importing Data form some csv file
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dataset=pd.read_csv("D:\ml data\Machine Learning A-Z Template Folder\Part 1 - Data Preprocessing\Data.csv")
dataset

# Extract particular rows and coloums
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,3].values

# Spliting the data into train set and test set
from sklearn.cross_validation import train_test_split
test_x,train_x,test_y,train_y=train_test_split(x,y,test_size=0.2,random_state=0)

# Feature Scaling
""""from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
train_x=sc_X.fit_transform(train_x)
test_x=sc_X.transform(test_x)
#test_x
train_x"""

In [1]:
# Importing Data form some csv file
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dataset=pd.read_csv("D:\ml data\Machine Learning A-Z Template Folder\Part 1 - Data Preprocessing\Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes